<legend>Tankings</legend>
<div id="tanking-graph"></div>
<a id="tanking-new" class="btn">New Tanking</a>
<div id="tankinks-container">
	<table id="tankings-table" class="table table-bordered">
		<thead>
		  <tr>
		    <th>Edit</th>
		    <th>Delete</th>
		    <th>Date</th>
		    <th>Station</th>
		    <th>Money</th>
		    <th>Gals</th>
		    <th>Km</th>
		  </tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>
<div id="modal" class="modal" style="display:none"></div>