<td><%= model+' ( '+year+')' %></td>
<td><a class="btn btn-mini btn-info" href="#cars/<%= id %>"><i class="icon-search icon-white"></i></a></td>
<td><a class="btn btn-mini btn-warning" href="#cars/<%= id %>/edit"><i class="icon-pencil icon-white"></i></a></td>
<td><span class="btn btn-mini btn-danger destroy"><i class="icon-trash icon-white"></i></span></td>