<div class="span3 well" id="car_list">
	<h1>Listing cars</h1>
	<div id="cars-container">
		<table id="cars-table" class="table">
		  <thead>
			  <tr>
			    <th>Name</th>
			    <th>View</th>
			    <!-- <th>Edit</th> -->
			    <!-- <th>Delete</th> -->
			  </tr>
		  </thead>
		  <tbody>
		  </tbody>
		</table>
	</div>
	<br/>
	<a href="#cars/new" class="btn">New Car</a>
</div>
<div class="span3" id="car_detail"></div>
<div class="span5" id="car_tankings"></div>