<div class="span12">
	<h1>Welcome to Fuel Tracker</h1>
	<br><p>Here you can take the control of your tankings<br><br>
	<strong>Save your gas</strong> = Save your money and Save the planet.</p>             
</div>