/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
body{
	padding: 90px 0px 0px 0px;
}
footer{
	margin-top:20px;
	border-top: 1px solid #eee;
	padding-top: 20px;
}
#car_detail .control-label{
	width: 40px !important;
}
#car_detail .control-group{
	width: 120px !important;	
}
#car_detail .controls{
	margin-left: 60px !important;	
}
#car_detail .form-horizontal .form-actions{
	padding-left: 60px !important;
}